body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u62 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u64 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:-20px;
  width:376px;
  height:668px;
  overflow:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u67 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
}
#u69 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:86px;
}
#u70 {
  position:absolute;
  left:99px;
  top:154px;
  width:178px;
  height:86px;
}
#u71 {
  position:absolute;
  left:2px;
  top:35px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:95px;
  top:520px;
}
#u72_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
  text-align:center;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u72_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u72_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:31px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
  text-align:center;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u72_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u72_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:31px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
  text-align:center;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u72_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u72_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:31px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#D7D7D8;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
}
#u81 {
  position:absolute;
  left:317px;
  top:0px;
  width:41px;
  height:20px;
  color:#C9C9C9;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:161px;
  top:557px;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u86 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u88 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u89 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u90 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u91 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u83_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u95 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u97 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u98 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u99 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u100 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u83_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u104 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u105 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u107 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u108 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u109 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u83_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u113 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u114 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  height:6px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u116 {
  position:absolute;
  left:32px;
  top:0px;
  width:6px;
  height:6px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u118 {
  position:absolute;
  left:48px;
  top:0px;
  width:6px;
  height:6px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:51px;
}
#u120 {
  position:absolute;
  left:15px;
  top:582px;
  width:346px;
  height:50px;
}
#u121 {
  position:absolute;
  left:2px;
  top:17px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u122 {
  position:absolute;
  left:143px;
  top:596px;
  width:91px;
  height:24px;
  font-size:18px;
  color:rgba(242, 242, 242, 0.666666666666667);
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:15px;
  top:582px;
  width:346px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
