body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:648px;
  overflow:hidden;
}
#u2041_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:648px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2041_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u2042_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2042_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2043 {
  position:absolute;
  left:1px;
  top:262px;
  visibility:hidden;
}
#u2043_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2043_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:386px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:385px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:184px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:22px;
}
#u2046 {
  position:absolute;
  left:92px;
  top:84px;
  width:193px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
}
#u2048 {
  position:absolute;
  left:135px;
  top:106px;
  width:118px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#797979;
  text-align:center;
}
#u2048_img.selected {
}
#u2048.selected {
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:22px;
}
#u2050 {
  position:absolute;
  left:126px;
  top:166px;
  width:140px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u2052 {
  position:absolute;
  left:104px;
  top:188px;
  width:196px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#797979;
  text-align:center;
}
#u2052_img.selected {
}
#u2052.selected {
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:47px;
}
#u2054 {
  position:absolute;
  left:77px;
  top:233px;
  width:223px;
  height:46px;
  font-size:14px;
  color:#FFFFFF;
}
#u2055 {
  position:absolute;
  left:2px;
  top:13px;
  width:219px;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2056 {
  position:absolute;
  left:153px;
  top:289px;
  width:20px;
  height:20px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
}
#u2058 {
  position:absolute;
  left:173px;
  top:292px;
  width:53px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#797979;
  text-align:center;
}
#u2058_img.selected {
}
#u2058.selected {
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:47px;
}
#u2060 {
  position:absolute;
  left:164px;
  top:28px;
  width:50px;
  height:46px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2062 {
  position:absolute;
  left:347px;
  top:6px;
  width:20px;
  height:20px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064 {
  position:absolute;
  left:337px;
  top:1px;
  width:38px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:330px;
}
#u2066 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:330px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:157px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:744px;
}
#u2068 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:743px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:364px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:117px;
}
#u2070 {
  position:absolute;
  left:1px;
  top:330px;
  width:375px;
  height:116px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u2072 {
  position:absolute;
  left:14px;
  top:345px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
}
#u2072_img.selected {
}
#u2072.selected {
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:330px;
}
#u2074 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:330px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:157px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:48px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:268px;
  width:375px;
  height:47px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u2078 {
  position:absolute;
  left:152px;
  top:280px;
  width:73px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u2080 {
  position:absolute;
  left:14px;
  top:197px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#E4E4E4;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u2082 {
  position:absolute;
  left:177px;
  top:197px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#E4E4E4;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u2084 {
  position:absolute;
  left:340px;
  top:197px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#E4E4E4;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u2086 {
  position:absolute;
  left:14px;
  top:208px;
  width:25px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u2088 {
  position:absolute;
  left:39px;
  top:216px;
  width:28px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#E4E4E4;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u2090 {
  position:absolute;
  left:176px;
  top:208px;
  width:13px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u2092 {
  position:absolute;
  left:189px;
  top:216px;
  width:21px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#E4E4E4;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2094 {
  position:absolute;
  left:336px;
  top:208px;
  width:27px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#E4E4E4;
  text-align:right;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u2096 {
  position:absolute;
  left:96px;
  top:73px;
  width:169px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2096_img.selected {
}
#u2096.selected {
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u2098 {
  position:absolute;
  left:128px;
  top:109px;
  width:119px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
  text-align:center;
}
#u2099 {
  position:absolute;
  left:0px;
  top:3px;
  width:119px;
  white-space:nowrap;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u2100 {
  position:absolute;
  left:235px;
  top:287px;
  width:34px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:64px;
}
#u2102 {
  position:absolute;
  left:14px;
  top:372px;
  width:341px;
  height:63px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:286px;
}
#u2104 {
  position:absolute;
  left:1px;
  top:456px;
  width:375px;
  height:285px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:134px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u2106 {
  position:absolute;
  left:14px;
  top:477px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
}
#u2106_img.selected {
}
#u2106.selected {
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
}
#u2108 {
  position:absolute;
  left:268px;
  top:480px;
  width:95px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#363636;
  text-align:right;
}
#u2108_img.selected {
}
#u2108.selected {
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:209px;
}
#u2111 {
  position:absolute;
  left:14px;
  top:515px;
  width:349px;
  height:209px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:96px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:83px;
}
#u2113 {
  position:absolute;
  left:149px;
  top:580px;
  width:80px;
  height:80px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u2115 {
  position:absolute;
  left:180px;
  top:607px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2116 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u2117 {
  position:absolute;
  left:1px;
  top:268px;
  width:375px;
  height:50px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:742px;
  width:369px;
  height:1px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u2121 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:44px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:2px;
}
#u2123 {
  position:absolute;
  left:4px;
  top:0px;
  width:369px;
  height:1px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u2125 {
  position:absolute;
  left:18px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u2126 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u2127 {
  position:absolute;
  left:10px;
  top:9px;
  width:48px;
  height:35px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u2129 {
  position:absolute;
  left:350px;
  top:13px;
  width:20px;
  height:18px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
