body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3007 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u3008 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u3009 {
  position:absolute;
  left:147px;
  top:11px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u3010 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
}
#u3011 {
  position:absolute;
  left:14px;
  top:15px;
  width:10px;
  height:15px;
  color:#FFFFFF;
}
#u3012 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u3013 {
  position:absolute;
  left:6px;
  top:9px;
  width:48px;
  height:35px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:134px;
}
#u3015 {
  position:absolute;
  left:196px;
  top:355px;
  width:160px;
  height:134px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:59px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:134px;
}
#u3017 {
  position:absolute;
  left:20px;
  top:355px;
  width:160px;
  height:134px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:59px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:128px;
}
#u3019 {
  position:absolute;
  left:20px;
  top:500px;
  width:160px;
  height:128px;
}
#u3020 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:301px;
}
#u3021 {
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:301px;
}
#u3022 {
  position:absolute;
  left:2px;
  top:142px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:128px;
}
#u3023 {
  position:absolute;
  left:196px;
  top:500px;
  width:160px;
  height:128px;
}
#u3024 {
  position:absolute;
  left:2px;
  top:56px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u3025 {
  position:absolute;
  left:138px;
  top:448px;
  width:100px;
  height:100px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u3027 {
  position:absolute;
  left:178px;
  top:484px;
  width:20px;
  height:29px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:42px;
}
#u3029 {
  position:absolute;
  left:0px;
  top:304px;
  width:375px;
  height:41px;
}
#u3030 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:42px;
}
#u3031 {
  position:absolute;
  left:314px;
  top:304px;
  width:61px;
  height:41px;
  color:#F2F2F2;
}
#u3032 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:28px;
}
#u3033 {
  position:absolute;
  left:340px;
  top:311px;
  width:10px;
  height:27px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#F2F2F2;
}
#u3034 {
  position:absolute;
  left:2px;
  top:6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u3035 {
  position:absolute;
  left:10px;
  top:315px;
  width:20px;
  height:17px;
  color:#F2F2F2;
}
#u3036 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:18px;
}
#u3037 {
  position:absolute;
  left:40px;
  top:315px;
  width:46px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3038 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u3039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3039 {
  position:absolute;
  left:329px;
  top:595px;
  width:24px;
  height:26px;
}
#u3040 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3041 {
  position:absolute;
  left:23px;
  top:595px;
  width:24px;
  height:26px;
}
#u3042 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3043 {
  position:absolute;
  left:329px;
  top:458px;
  width:24px;
  height:26px;
}
#u3044 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u3045 {
  position:absolute;
  left:23px;
  top:458px;
  width:24px;
  height:26px;
}
#u3046 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u3047 {
  position:absolute;
  left:321px;
  top:304px;
  width:48px;
  height:35px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
